*{
     margin: 0;
}

html,
body {
     height: 100%;    
}

body {
     font-family: Arial, Helvetica, sans-serif;
}

p {
     margin: 0.5em 0 0.5em 0;

}
.article {
     width: 75%;
}

header {
     display: block;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 30px;
     padding: 10px;
     background-color: #0e5e3f;
}

nav > ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

nav > ul > li {
     float: left;
}

nav > ul > li a {
     display: block;
     padding: 5px;
     color: white;
     text-align: center;
     text-decoration: none;
     font-weight: bold;
}

main {
     
     margin: 0;
     padding:0;
}

aside,
article {
     padding: 2em;
}

h1 {
     margin-top: 20px;
     text-align: center;
     color: #0e5e3f;
}

h2, h3 {
     color: #0e5e3f;
}

#salam {
     text-align: center;
}

#greet {

     border: solid 1px white;
     padding: 5px;
     width: auto;
     margin-top: 10px;
     text-align: center;
}

h5 a {
     float: right;
     margin-right: 30px;
     margin-top: 5px;
     text-decoration: none;    
}

h6 {
     float: right;
}

#search {
     width: 150px;
     margin-left: 30px;
}

#data {
     background-color: #e6eedd;
}

[src="images/searchicon.png"] {
     width: 15px;
     height: 15px;
     margin-left: 30px;
}

.nav-but {
     margin-left: 90px;
     padding: 2px;
     background: #ddd;
     font-size: 12px;
     border: none;
     cursor: pointer;
}

.act {
     font-weight: bold;
     color: #0e5e3f;
}

#act-link a {
     text-decoration: none;
}

.banner {
     margin-top: 20px;
     text-align: center;   
}

[src="images/domeimage.jpeg"] {
     width: 50px; 
     height: 30px;
     margin-top: 5px;
     margin-bottom: 10px;
     margin-left: 30px;
}

[src="images/centra1.jpg"],
[src="images/central2.jpg"], 
[src="images/bonnymosque1.jpeg"] {
     width: 350px;
     height: 250px;
     text-align: center;
     margin-right: auto;
     border: 1px solid #008000;
}

.left {
     font-weight: bold;
}

input {
     width: 100%;
     height: 20px;
     border: 1px solid #777;
     margin-bottom: 5px;
}

#address {
     width: 100%;
}

.btn {
     background: #0e5e3f;
     padding: 3px;
     font-weight: bold;
     color: #fff;
     border-radius: 5px;
}

#btn {
     background-color: #0e5e3f;
     color: #fff;
     font-weight: bold;
     padding: 5px;
     margin-left: auto;
     margin-right: auto;
     border-style: none;
     border-radius: 5px;
}

.container-1 {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: 10px;
}

.active a {
     text-decoration: none;
}

.member {
     text-align: center;
}


.active {
     background-color: #d7eec6;
     color: #0e5e3f;
     width: 300px;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     padding: 20px;
     font-size: 15px;
     margin-top: 10px;
}

#account {
     color: #000;
     background-color: #eeeeb0;
     border: 1px solid black;
}

#remind {
     color: #fff;
     background-color: #516e4f;
     margin-bottom: 10px;
}

#remind-h2 {
     color: #fff; 
     margin-bottom: 10px;
}

section {
     margin: 0px;
}

.devs {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
}

.ghali {
     float: left;
     width: 30%;
}

.kamel {
     float: right;
     width: 40%;
}

.register {
     display: block;
     color: #516e4f;
     margin-left: 25%;
     width: 50%;
}

textarea {
     width: 50%;
}

footer {
     display: block;
     width: 100%;
     padding: 10px;
     margin-right: auto;
     margin-left: auto;
     background-color: #d7eec6;
     text-align: center;
     color: #008000;
}

.devs {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     justify-content: space-around;
}


@media screen and (min-width: 768px) {
     main {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 0;
          padding:0;
     }
     
     aside {
          margin-top: 50px;
          float: left;
     }
     
     article {
          margin-top: 30px;
          margin-right: 10%;
          float: right;
     }

     .register {
          display: block;
          color: #516e4f;
          margin-top: 100px;
          margin-right: auto;
          margin-left: auto;
          width: 25%;
     } 

     #remind {
          width: auto;
          color: #fff;
          background-color: #516e4f;
          margin-bottom: 10px;
     }
     
}



